/* Global styles
colour paletter for resume design
#192A51 blue
#967AA1
#AAA1C8
#D5C6E0
#F5E6E8
-------------------------*/

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Lora', serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 20px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: auto;
  padding: 60px 50px;
  overflow: hidden;
}

/* ---- narrow column is 30% and column-wide is 70% ------*/

.narrow-column {
  width: 30%;
  float: left;
}

.wide-column {
  width: 70%;
  float: left;
  min-height: 175px;
  padding-left: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  color: white;
  background: #ef233c;
  display: inline-block;
  padding: 10px;
}

/* Heaer and Footer
-------------------------*/

/*header */

.profile-img {
  border-radius: 50%;
}

header {
  background: #192A51;
  color: #fff;
  padding-top: 50px;
  position: relative;
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*-- Navigation style --*/

nav {
  text-align: center;
  background: #f0f0f0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Work Experience
-------------------------*/

.work {
  background: #D5C6E0;
}

h3~p {
  margin: 0;
}

.job-description ul:first-of-type {
  margin-top: 0;
}

/* Education
-------------------------*/

.education {
  background: #AAA1C8;
}

p + h3 {
  margin-top: 30px;
}

/*footer style */

footer {
  background: #F5E6E8;
  text-align: center;
}

.contant-info, a {
  padding: 10px;
  display: inline-block;
}
