/* Global styles
colour paletter for resume design
#192A51 blue
#967AA1
#AAA1C8
#D5C6E0
#F5E6E8
-------------------------*/

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #fff;
  color: #11161a;
}

h1, h2 {
  font-family: 'Lora', serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 20px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: auto;
  padding: 60px 50px;
  overflow: hidden;
}

.content-wrap h2:first-of-type {
  margin-bottom: 0.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  color: white;
  background: #ef233c;
  display: inline-block;
  padding: 10px;
}

/* Heaer and Footer
-------------------------*/

/*header */

.profile-img {
  border-radius: 50%;
}

header {
  background: #192A51;
  color: #fff;
  padding-top: 50px;
  position: relative;
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*-- Navigation style --*/

nav {
  text-align: center;
  background: #f0f0f0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /*-- this is to put the nav on an upper stack --*/
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Work Experience
-------------------------*/

.work {
  background-color: rgb(245, 245, 245);
}

h3~p {
  margin: 0;
}

.job-description ul:first-of-type {
  margin-top: 0;
}

.card {
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  margin: auto;
  padding: 20px 20px;
  overflow: hidden;
  border-radius: .375rem;
  transition: all .3s ease;
  margin-bottom: 1.5rem;
  background-color: #fff
  color: #2e3d49
}

/* Education
-------------------------*/

.education {
  background: linear-gradient(rgba(170, 161, 200, 0.8), rgba(170, 161, 200, 0.5)),
              url(https://images.unsplash.com/photo-1531674590200-f5e4c43f31de?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44c88230f10a563c9dd67d6456dc1c35&auto=format&fit=crop&w=1650&q=80) no-repeat fixed;
  background-size: cover;

}

p + h3 {
  margin-top: 30px;
}

/*footer style */

footer {
  background: #fff;
  text-align: center;
}

.contant-info, a {
  padding: 10px;
  display: inline-block;
}

/* Media Queries */
@media (min-width : 900px) {
  /* ---- narrow column is 30% and column-wide is 70% ------*/
  .narrow-column-header {
    width: 30%;
    float: left;
  }
  .role-at-work {
    width: 40%;
    float: left;
  }

  .role-content-wide {
    width: 60%;
    float: left;
    min-height: 175px;
    padding-left: 20px;
    
  }
  .wide-column-header {
    width: 70%;
    float: left;
    min-height: 175px;
    padding-left: 20px;
    
  }
}
@media (max-width :899px) {
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
